.regForm input{
    font-size: 2rem;
    width:40%;
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    padding: 5px 5px 5px;
    width: 310px;

}

.container {
    margin:50px auto;
    width:640px;
    background-color: rgb(154, 158, 162)

}

.reg-card p{
    text-align: center;
}

.reg{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.reg-border{
    background: #FAEBD7;
    height: 60px;
}




   

   




